@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter' ,  sans-serif;
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.animate-slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(10);
  }
}

.bounce {
  animation: moveLeftToRight 0.7s ease infinite;
}


