@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter' ,  sans-serif;
}

.work-scroll{
  height: calc(100vh - 4.3rem);
  margin-right: 5px;
  overflow-y: auto;
}
